<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="Cmd.PowerOn" value="http://{ip}:{port}/cm?cmnd=Power%20On" />-->
		<add key="Cmd.Format.Wifi.RelayClose" value="http://{ip}:{port}/cm?cmnd=Backlog%20Power1%20On" />
		<add key="Cmd.Format.Wifi.RelayOpen" value="http://{ip}:{port}/cm?cmnd=Power1%20Off" />
		<add key="Cmd.Format.Serial.RelayClose" value="Power1 on&#xD;&#xA;" />
		<!--<add key="Cmd.Format.Serial.RelayClose" value="Backlog Power1 on; Delay {delay}; Power1 off&#13;&#10;"/>-->
		<add key="Cmd.Format.Serial.RelayOpen" value="Power1 off&#xD;&#xA;" />

		<!--Backlog Power1 on; Delay 2; Power1 off
      Backlog%20Power1%20on%3BDelay%202%3BPower1%20off-->
		<add key="IsDisplayFormOnStartup" value="True" />
		<add key="IsDisplayInTaskBar" value="True" />
		<add key="IsServiceMode" value="False" />
		<add key="ShowSplashScreen" value="False" />		
	</appSettings>

	<connectionStrings>
		<!--<add name="MainContext" connectionString="Data Source=|DataDirectory|\data.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
	</connectionStrings>
</configuration>